
body{
    background-color: black;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.post{
    text-align: center;
    font-style:normal;
    width: 50%;
    margin-left: 25%;
    font-family: "Libre Baskerville", serif;
    color: rgb(184, 41, 131);
    font-size: 1rem;
}

.img{
    border: 5px solid rgb(238, 238, 234);
    width:90%;
    padding: 0;
    margin-top: 100px;
}

